body {
    background-color: white;
}

h1{
    color: rgb(3, 51, 139);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgb(92, 91, 91);
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    border-radius: 4px;
    border-style: ridge;
    border-width: 1px;
    padding: 6px;
    outline: none;
    width: 265px;
}

button{
    border-radius: 4px;
    border: none;
    padding: 6px;
    background-color: rgb(3, 51, 139);
    color: white;
    width: 280px;
}

button:hover{
    background-color: rgb(2, 22, 59);
    cursor: pointer;
}

#conteudo{
    margin: auto;
    width: 300px;
    box-sizing: border-box;
    border: 1px;
    padding: 10px;
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
  
}